pybind11
setuptools
wheel
cmake
vllm
huggingface_hub
huggingface_hub[hf-xet]
transformers>=4.37.2
accelerate>=0.20.0
grpcio
protobuf
peft==0.8.2
psutil

supervisor

#torch
--index-url https://download.pytorch.org/whl/cu130
torch --pre
torchvision --pre
torchaudio --pre

# CLI
click==8.1.8
rich==14.0.0
prompt_toolkit==3.0.43
appdirs>=1.4.4

# Audio Examples
librosa
scipy
#sounddevice

gputil
